<div class="row g-0">
  <!-- Large and medium screens -->
  <div class="col-12 col-md-6 image-1 responsive-img d-flex align-items-center">
    <div class="ms-5 d-none d-md-block mt-5">
      <h1 class="  color-white text-start display-4">NEW STYLES STARTS HERE</h1>
      <p class=" color-white text-start d-block lead">Refresh your rotation with our latest drops</p>
      <div class="text-start mt-3">
        <button class="btn btn-white fw-bold p-3   mt-4 px-4 py-2 " routerLink="/shop">Shop Now ></button>
      </div>
    </div>
  </div>
  <!-- .......................... -->

   <!-- ................................ -->

  <!-- Display content for smaller screens -->
  <div class="col-12 d-md-none align-self-start">
    <div class="m-5 text-center">
      <h1 class="color-black font-xxl">NEW STYLES STARTS HERE</h1>
      <b class="color-black d-block">Refresh your rotation with our latest drops</b>
      <div class="text-center mt-3">
        <a class="btn btn-dark fw-bold w-100 p-3"routerLink="/shop">Shop Now ></a>
      </div>
    </div>
  </div>
</div>
