<div class="row">
  <!--image-1 is ====>>>  background-image: url('image path');
  -->
  <div class="col image-1  responsive-img  d-flex align-items-center">
      <div class="row ms-5 d-none d-lg-block">
          <h1 class="col-10 color-white font-xxl text-start">NEW STYLES STARTS HERE</h1>
          <b class="color-white  text-start">Refresh your rotation with our latest drops</b>
          <div class="text-start mt-3">
              <button class="btn btn-white fw-bold p-3"> Shop Now > </button>
          </div>
      </div>

  </div>
<!-- display only in  -->
<div class=" d-lg-none align-self-start">
  <div class="m-5 text-center">
    <h1 class=" color-black font-xxl ">NEW STYLES STARTS HERE</h1>
    <b class=" color-black ">Refresh your rotation with our latest drops</b>
    <div class=" text-center">
        <button class="btn btn-dark fw-bold w-100 p-3"> Shop Now > </button>
    </div>
</div>
</div>

</div>

