<!-- alerts start -->
 <!-- -1- edit Success Alert -->
<!-- <div *ngIf="editSuccessAlert" class="alert alert-success d-flex align-items-center" role="alert"> -->
  <div *ngIf="editSuccessAlert" class="container mt-3">

  <!-- <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
  <div>
user updated succesesfuly   </div> -->

<ngb-alert type="success">
  ✅ تم الحفظ بنجاح!
</ngb-alert>
</div>
<!-- -2- deleted succesesfuly alert -->
<div *ngIf="deletedSuccessAlert" class="alert alert-success d-flex align-items-center" role="alert">
  <!-- <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
  <div>
user Deleted succesesfuly   </div> -->
<ngb-alert type="success">
  user Deleted succesesfuly
</ngb-alert>
</div>
<!-- alerts end -->

<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="row w-100">
    <div class="col-12 col-md-8 col-lg-6">
      <!-- Account Creation Card -->
      <div class="card shadow-sm">
        <div class="card-body">
          <h3 class="text-center mb-4">Edit Account</h3>

          <!-- Sign Up with Email -->
          <h5 class="mb-3">Edit  Your Account {{fullName?.value}} </h5>
          <form [formGroup]= "editAccount" (ngSubmit)= "editProfile()">
            <!-- Full Name -->
            <div class="mb-3">
              <label for="fullName" class="form-label">Full Name</label>
              <input formControlName="name" type="text" class="form-control" id="fullName" placeholder="Enter your full name" required>
              <div *ngIf= "fullName?.invalid && ( fullName?.touched)" class="alert alert-danger p-1">
                <div *ngIf= "fullName?.errors?.['required']" >
                  name is required
                </div>
                <div *ngIf= "fullName?.errors?.['minlength'] " >
                  Name must be at least 5 characters long.
                </div>
                <div *ngIf= "!fullName?.errors?.['validateFullName'] " >
                  Name cant incloude a number.
                </div>

              </div>
            </div>

            <!-- Email Address -->
            <div class="mb-3">
              <label for="email" class="form-label">Email Address</label>
              <input formControlName="email" type="email" class="form-control" id="email" placeholder="Enter your email" required>
              <div *ngIf= "email?.invalid && ( email?.touched )" class="alert alert-danger p-1">
                <div *ngIf= "email?.errors?.['required']" >
                  email is required
                </div>
               <div *ngIf="email?.errors?.['email']">
                Invalid email format
                </div>
              </div>


            </div>
            <!-- avatar -->
            <label for="name" class="form-label">avatar</label>
            <input formControlName="avatar" type="text" class="form-control" id="avatar" placeholder="Enter avatar link" required>
            <!-- Password -->
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
                <input formControlName="password" type="password" class="form-control" id="password" placeholder="Enter your password" required>
                <div *ngIf= "password?.invalid && password?.touched" class="alert alert-danger p-1">
                  <div *ngIf= "password?.errors?.['required']" >
                    password is required
                  </div>
                  <div *ngIf= "password?.errors?.['minlength'] " >
                    passowrd must be at least 5 characters long.
                  </div>

                </div>
              </div>
              <div>
              <!-- <label for="confirmPassword" class="form-label">confirm Password</label>
                <input formControlName="confirmPassword" type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" required>
                <div *ngIf= "confirmPassword?.invalid && confirmPassword?.touched" class="alert alert-danger p-1">
                  <div *ngIf= "confirmPassword?.errors?.['required']" >
                    password is required
                  </div>
                  <div *ngIf= "!confirmPassword?.errors?.['confirmPassword'] " >
                    password not match
                  </div>

                </div> -->
              </div>

            <!-- Exclusive Deals Checkbox -->
            <!-- <div class="form-check">
              <input formControlName="exclusiveDeals" class="form-check-input" type="checkbox" id="exclusiveDeals">
              <label class="form-check-label" for="exclusiveDeals" >
                I would like to receive exclusive deals from Footshop
              </label>
            </div> -->

            <!-- Terms and Conditions -->
            <!-- <div class="form-check">
              <input formControlName="termsAndConditions" class="form-check-input" type="checkbox" id="termsAndConditions" required>
              <label class="form-check-label" for="termsAndConditions">
                By registering you agree to our <a href="#">Terms and Conditions</a>.
              </label>
            </div> -->

            <!-- Sign Up Button -->
            <div class="d-flex justify-content-center mt-4">
              <button  type="submit" [disabled]="editAccount.invalid" class="btn btn-primary w-100">Edit Account</button>
              <!-- [disabled]="editAccount.invalid" -->
            </div>
          </form>
          <!-- <a routerLinkActive="active" class="btn btn-primary" (click)="editProfile()">edit profile  </a> -->
          <div class="d-flex justify-content-center mt-4">
            <button  type="button"  class="btn btn-danger w-100" (click)="deleteUser()">Delet Account</button>
            <!-- [disabled]="editAccount.invalid" -->
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<div>
  <h1>REMVED</h1>
  {{editAccount.value | json}}
  {{confirmPassword?.errors| json}}

</div>
